<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/Css/main.css">
    {{#if productCss}}
    <link rel="stylesheet" href="/Css/product.css">
    {{/if}}
    {{!-- {{#if mainCss}}
    <link rel="stylesheet" href="/Css/main.css">
    {{/if}} --}}
</head>
<body>
    <header>
         <nav>
           <ul>
                <li ><a class="{{#if activeShop}}active{{/if}}" href="/"></a>Shop</li>
                <li><a class="{{#if activeCreateProduct}}active{{/if}}" href="/admin/create_products"></a> Create Products</li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
</html>