   <header>
         <nav>
           <ul>
                <li ><a class=" <%= path === '/' ? 'active' : ''%> " href="/"></a>Shop</li>
                <li><a class="<%= path === '/admin/create_products' ? 'active' : ''%>" href="/admin/create_products"></a> Create Products</li>
            </ul>
        </nav>
    </header>